<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h4>Formulário de Notificação de Sífilis Congênita</h4>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="card-body">
        <div class="card mb-3">
          <div class="card-header">
            <h6>Dados Gerais</h6>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                <label for="city" class="form-label">Tipo de Notificação</label>
                <input type="text" class="form-control" id="tiponotificacao" name="tiponotificacao" placeholder="Individual" value="Individual" disabled="true" >
              </div>

              <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                <label for="city" class="form-label">Agravo/doença</label>
                <input type="text" class="form-control" id="agravo" name="agravo" placeholder="Sífilis Congênita" value="Sífilis Congênita" disabled="true" >
              </div>

              <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                <label for="city" class="form-label">Código (CID10)</label>
                <input type="text" class="form-control" id="cid10" name="cid10" placeholder="A50.9" value="A50.9" disabled="true" >
              </div>

              <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                  <label for="notificationDate" class="form-label">Data da Notificação</label>
                  <input type="date" class="form-control" id="notificationDate" formControlName="Texto1"  >
              </div>
              <div class="col-sm-12 col-md-6 col-lg-2 mb-3">
                  <label for="uf" class="form-label">UF</label>
                  <select class="form-control" id="uf" formControlName="Texto2" #ufSelect (change)="loadMunicipios(ufSelect.value)">
                    <option *ngFor="let estado of estados" [value]="estado">{{ estado }}</option>
                  </select>
              </div>

              <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                  <label for="city" class="form-label">Município de Notificação</label>
                  <!--SEMPRE LEMBRAR QUE A FUNÇÃO LOADIBGECODE TEM COMO ARGUMENTO O PROXIMO CAMPO QUE IRÁ CARREGAR O VALOR-->
                  <select class="form-control" id="city" formControlName="Texto3" #citySelect (change)="loadIbgeCode(citySelect.value, 'Texto4')">
                      <option *ngFor="let municipio of municipios" [value]="municipio">{{ municipio }}</option>
                  </select>
              </div>

              <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                  <label for="ibgeCode" class="form-label">Código IBGE</label>
                  <input type="text" class="form-control" id="ibgeCode" formControlName="Texto4" readonly>
              </div>
            <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                <label for="healthUnit" class="form-label">Unidade de Saúde</label>
                <!--SEMPRE LEMBRAR QUE A FUNÇÃO LOADIBGECODE TEM COMO ARGUMENTO O PROXIMO CAMPO QUE IRÁ CARREGAR O VALOR-->
                <select formControlName="Texto5" class="form-control" id="healthUnit" (change)="updateCnesValue($event, 'Texto6')">
                  <option *ngFor="let estabelecimento of estabelecimentos" [value]="estabelecimento.nome_fantasia">
                      {{ estabelecimento.nome_fantasia }}
                  </option>
              </select>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                <label for="code" class="form-label">Código (CNES)</label>
                <input type="text" class="form-control" id="code" formControlName="Texto6" readonly>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                <label for="diagnosisDate" class="form-label">Data do Diagnóstico</label>
                <input type="date" class="form-control" id="diagnosisDate" formControlName="Texto7"  >
            </div>
          </div>
        </div>
      </div>

        <div class="card mb-3">
          <div class="card-header">
            <h6>Notificação Individual</h6>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12 col-md-6 col-lg-5 mb-3">
                  <label for="patientName" class="form-label">Nome do Paciente</label>
                  <input type="text" class="form-control" id="patientName" formControlName="Texto8"  >
              </div>

              <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                  <label for="birthDate" class="form-label">Data de nascimento</label>
                  <input type="date" class="form-control" id="birthDate" formControlName="Texto9"  >
              </div>

              <div class="col-sm-12 col-md-6 col-lg-2 mb-3">
                  <label for="age" class="form-label">Idade</label>
                  <input type="text" class="form-control" id="age" formControlName="Texto10"   mask="9{3}">
              </div>

              <div class="col-sm-12 col-md-6 col-lg-2 mb-3">
                  <label for="gender" class="form-label">Sexo</label>
                  <select class="form-control" id="gender" formControlName="Texto12"  >
                      <option selected value="M">Masculino</option>
                      <option selected value="F">Feminino</option>
                      <option selected value="I">Ignorado</option>
                  </select>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                <label for="racaCor" class="form-label">Raça/cor</label>
                <select class="form-control" id="racaCor" formControlName="Texto13"  >
                    <option value="1">1 - Branca</option>
                    <option value="2">2 - Preta</option>
                    <option value="3">3 - Amarela</option>
                    <option value="4">4 - Parda</option>
                    <option value="5">5 - Indígena</option>
                    <option value="9">9 - Ignorado</option>
                </select>
              </div>
              <!-- Campo Número do cartão SUS -->
              <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                <label for="cartaoSUS" class="form-label">Número do cartão SUS</label>
                <input type="text" class="form-control" id="cartaoSUS" formControlName="Texto14"  #cartaoSUSControl="" pattern="^\d{15}$">
              </div>
              <!-- Campo Nome da mãe -->
              <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                  <label for="nomeMae" class="form-label">Nome da mãe</label>
                  <input type="text" class="form-control" id="nomeMae" formControlName="Texto15"  >
              </div>
            </div>

          </div>
        </div>

        <!-- ... Seu código existente ... -->

        <div class="card mb-3">
          <div class="card-header">
              <h6>Dados de Residência</h6>
          </div>
          <div class="card-body">
              <div class="row">
                  <div class="col-sm-12 col-md-6 col-lg-2 mb-3">
                    <label for="cep" class="form-label">CEP</label>
                    <input type="text" class="form-control" id="cep" formControlName="Texto28" mask="00000-000" #cep (change)="onCepChange(cep.value)">
                    <div *ngIf="hasError" class="error-message">Ocorreu um erro ao buscar o CEP. Por favor, tente novamente.</div>
                  </div>

                  <div class="col-sm-12 col-md-6 col-lg-2 mb-3">
                      <label for="ufResidencia" class="form-label">UF</label>
                      <input type="text" class="form-control" id="ufResidencia" formControlName="Texto16"   maxlength="2">
                  </div>

                  <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                      <label for="cityResidencia" class="form-label">Município de Residência</label>
                      <input type="text" class="form-control" id="cityResidencia" formControlName="Texto17"  >
                  </div>

                  <div class="col-sm-12 col-md-6 col-lg-2 mb-3">
                      <label for="ibgeCodeResidencia" class="form-label">Código IBGE</label>
                      <input type="text" class="form-control" id="ibgeCodeResidencia" formControlName="Texto18"   mask="9{7}">
                  </div>
                  <div class="col-sm-12 col-md-6 col-lg-2 mb-3">
                      <label for="distrito" class="form-label">Distrito</label>
                      <input type="text" class="form-control" id="distrito" formControlName="Texto19" >
                  </div>
                  <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                      <label for="bairro" class="form-label">Bairro</label>
                      <input type="text" class="form-control" id="bairro" formControlName="Texto20" >
                  </div>
                  <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                      <label for="logradouro" class="form-label">Logradouro</label>
                      <input type="text" class="form-control" id="logradouro" formControlName="Texto21" >
                  </div>
                  <div class="col-sm-12 col-md-6 col-lg-2 mb-3">
                      <label for="codigo" class="form-label">Código</label>
                      <input type="text" class="form-control" id="codigo" formControlName="Texto22" >
                  </div>
                  <div class="col-sm-12 col-md-6 col-lg-2 mb-3">
                      <label for="numero" class="form-label">Número</label>
                      <input type="text" class="form-control" id="numero" formControlName="Texto23" >
                  </div>
                  <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                      <label for="complemento" class="form-label">Complemento</label>
                      <input type="text" class="form-control" id="complemento" formControlName="Texto24" >
                  </div>
                  <div class="col-sm-12 col-md-6 col-lg-2 mb-3">
                      <label for="geoCampo1" class="form-label">Geo Campo 1</label>
                      <input type="text" class="form-control" id="geoCampo1" formControlName="Texto25" >
                  </div>
                  <div class="col-sm-12 col-md-6 col-lg-2 mb-3">
                      <label for="geoCampo2" class="form-label">Geo Campo 2</label>
                      <input type="text" class="form-control" id="geoCampo2" formControlName="Texto26" >
                  </div>
                  <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                      <label for="pontoReferencia" class="form-label">Ponto de Referência</label>
                      <input type="text" class="form-control" id="pontoReferencia" formControlName="Texto27" >
                  </div>
                  <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                      <label for="telefone" class="form-label">(DDD) Telefone</label>
                      <input type="text" class="form-control" id="telefone" formControlName="Texto29"   mask="(00)00000-0000">
                  </div>
                  <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                      <label for="zona" class="form-label">Zona</label>
                      <select class="form-control" id="zona" formControlName="Texto30"  >
                          <option value="1">1 - Urbana</option>
                          <option value="2">2 - Rural</option>
                          <option value="3">3 - Periurbana</option>
                          <option value="9">9 - Ignorado</option>
                      </select>
                  </div>
                  <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                      <label for="pais" class="form-label">País</label>
                      <input type="text" class="form-control" id="pais" formControlName="Texto31"  >
                  </div>
              </div>
          </div>
        </div>

        <!-- ... Seu código existente ... -->

        <!-- ... Seu código existente ... -->

        <div class="card mb-3">
          <div class="card-header">
              <h6>Dados Complementares do Caso</h6>
          </div>
          <div class="card-body">

              <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-2 mb-3">
                  <label for="Texto32" class="form-label">Idade da mãe</label>
                  <input type="text" class="form-control" id="Texto32" formControlName="Texto32"   mask="9{3}">
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                  <label for="Texto33" class="form-label">Raça/cor da mãe</label>
                  <select class="form-control" id="Texto33" formControlName="Texto33"  >
                      <option value="1">1 - Branca</option>
                      <option value="2">2 - Preta</option>
                      <option value="3">3 - Amarela</option>
                      <option value="4">4 - Parda</option>
                      <option value="5">5 - Indígena</option>
                      <option value="9">9 - Ignorado</option>
                  </select>
                </div>
                  <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                      <label for="ocupacao" class="form-label">Ocupação</label>
                      <input type="text" class="form-control" id="ocupacao" formControlName="Texto34"  >
                  </div>
                <div class="col-sm-12 col-md-6 col-lg-5 mb-3">
                  <label for="Texto35" class="form-label">Escolaridade da mãe</label>
                  <select class="form-control" id="Texto35" formControlName="Texto35"  >
                      <option value="0">0 - Analfabeto</option>
                      <option value="1">1 - 1° a 4° série incompleta do EF</option>
                      <option value="2">2 - 4° série completa do EF</option>
                      <option value="3">3 - 5° à 8° série incompleta do EF</option>
                      <option value="4">4 - Ensino fundamental completo</option>
                      <option value="5">5 - Ensino médio incompleto</option>
                      <option value="6">6 - Ensino médio completo</option>
                      <option value="7">7 - Educação superior incompleta</option>
                      <option value="8">8 - Educação superior completa</option>
                      <option value="9">9 - Ignorado</option>
                      <option value="10">10 - Não se aplica</option>
                  </select>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-5 mb-3">
                  <label for="Texto36" class="form-label">Realizou pré-natal nesta gestação?</label>
                  <select class="form-control" id="Texto36" formControlName="Texto36"  >
                      <option value="1">1 - Sim</option>
                      <option value="2">2 - Não</option>
                      <option value="9">9 - Ignorado</option>
                  </select>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-2 mb-3">
                    <label for="Texto37" class="form-label">UF</label>
                    <select class="form-control" id="Texto37" formControlName="Texto37" #Texto37 (change)="loadMunicipios(Texto37.value)">
                      <option *ngFor="let estado of estados" [value]="estado">{{ estado }}</option>
                    </select>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                    <label for="Texto38" class="form-label">Município de Notificação</label>
                    <!--SEMPRE LEMBRAR QUE A FUNÇÃO LOADIBGECODE TEM COMO ARGUMENTO O PROXIMO CAMPO QUE IRÁ CARREGAR O VALOR-->
                    <select class="form-control" id="Texto38" formControlName="Texto38" #Texto38Select (change)="loadIbgeCode(Texto38Select.value, 'Texto39')">
                        <option *ngFor="let municipio of municipios" [value]="municipio">{{ municipio }}</option>
                    </select>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-2 mb-3">
                    <label for="Texto39" class="form-label">Código IBGE</label>
                    <input type="text" class="form-control" id="Texto39" formControlName="Texto39" readonly>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                    <label for="Texto40" class="form-label">Unidade de Saúde</label>
                    <!--SEMPRE LEMBRAR QUE A FUNÇÃO LOADIBGECODE TEM COMO ARGUMENTO O PROXIMO CAMPO QUE IRÁ CARREGAR O VALOR-->
                    <select formControlName="Texto40" class="form-control" id="Texto40" (change)="updateCnesValue($event, 'Texto41')">
                      <option *ngFor="let estabelecimento of estabelecimentos" [value]="estabelecimento.nome_fantasia">
                          {{ estabelecimento.nome_fantasia }}
                      </option>
                  </select>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-2 mb-3">
                    <label for="Texto41" class="form-label">Código (CNES)</label>
                    <input type="text" class="form-control" id="Texto41" formControlName="Texto41" readonly>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-12 mb-3">
                  <label for="Texto42" class="form-label">Diagnóstico de sífilis materna</label>
                  <select class="form-control" id="Texto42" formControlName="Texto42"  >
                      <option value="1">1 - Durante o pré-natal</option>
                      <option value="2">2 - No momento do parto/curetagem</option>
                      <option value="3">3 - Após o parto</option>
                      <option value="4">4 - Não realizado</option>
                      <option value="9">9 - Ignorado</option>
                  </select>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                  <label for="Texto43" class="form-label">Teste não treponêmico no parto/curetagem</label>
                  <select class="form-control" id="Texto43" formControlName="Texto43"  >
                      <option value="1">1 - Reagente</option>
                      <option value="2">2 - Não reagente</option>
                      <option value="3">3 - Não realizado</option>
                      <option value="9">9 - Ignorado</option>
                  </select>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                  <label for="Texto44" class="form-label">Título</label>
                  <input type="text" class="form-control" id="Texto44" formControlName="Texto44">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                  <label for="Texto45" class="form-label">Data do teste</label>
                  <input type="date" class="form-control" id="Texto45" formControlName="Texto45">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                  <label for="Texto46" class="form-label">Teste treponêmico no parto/curetagem</label>
                  <select class="form-control" id="Texto46" formControlName="Texto46"  >
                      <option value="1">1 - Reagente</option>
                      <option value="2">2 - Não reagente</option>
                      <option value="3">3 - Não realizado</option>
                      <option value="9">9 - Ignorado</option>
                  </select>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                  <label for="Texto47" class="form-label">Esquema de tratamento</label>
                  <select class="form-control" id="Texto47" formControlName="Texto47"  >
                      <option value="1">1 - Adequado</option>
                      <option value="2">2 - Inadequado</option>
                      <option value="3">3 - Não realizado</option>
                      <option value="9">9 - Ignorado</option>
                  </select>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                  <label for="Texto48" class="form-label">Data do Início do Tratamento</label>
                  <input type="date" class="form-control" id="Texto48" formControlName="Texto48">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                  <label for="Texto49" class="form-label">Parceiro(s) tratado(s) concomitantemente a gestante</label>
                  <select class="form-control" id="Texto49" formControlName="Texto49"  >
                      <option value="1">1 - Sim</option>
                      <option value="2">2 - Não</option>
                      <option value="9">9 - Ignorado</option>
                  </select>
                </div>
              <div class="linha">Dados Complementares da Criança</div>
                <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                  <label for="Texto50" class="form-label">UF</label>
                  <select class="form-control" id="Texto50" formControlName="Texto50" #Texto50 (change)="loadMunicipios(Texto50.value)">
                    <option *ngFor="let estado of estados" [value]="estado">{{ estado }}</option>
                  </select>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                  <label for="Texto51" class="form-label">Município de Nascimento / Aborto</label>
                  <!--SEMPRE LEMBRAR QUE A FUNÇÃO LOADIBGECODE TEM COMO ARGUMENTO O PROXIMO CAMPO QUE IRÁ CARREGAR O VALOR-->
                  <select class="form-control" id="Texto51" formControlName="Texto51" #Texto51Select (change)="loadIbgeCode(Texto51Select.value, 'Texto52')">
                      <option *ngFor="let municipio of municipios" [value]="municipio">{{ municipio }}</option>
                  </select>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                    <label for="Texto52" class="form-label">Código IBGE</label>
                    <input type="text" class="form-control" id="Texto52" formControlName="Texto52" readonly>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-8 mb-3">
                  <label for="Texto53" class="form-label">Local de Nascimento (Maternidade) </label>
                  <input type="text" class="form-control" id="Texto53" formControlName="Texto53">
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                    <label for="Texto54" class="form-label">Código</label>
                    <input type="text" class="form-control" id="Texto54" formControlName="Texto54">
                </div>
              <div class="linha">Dados do Laboratório da Criança</div>
                <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                  <label for="Texto55" class="form-label">Teste não treponêmico - Sangue Periférico</label>
                  <select class="form-control" id="Texto55" formControlName="Texto55"  >
                      <option value="1">1 - Reagente</option>
                      <option value="2">2 - Não reagente</option>
                      <option value="3">3 - Não realizado</option>
                      <option value="9">9 - Ignorado</option>
                  </select>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                  <label for="Texto56" class="form-label">Título</label>
                  <input type="text" class="form-control" id="Texto56" formControlName="Texto56">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                  <label for="Texto57" class="form-label">Data do teste</label>
                  <input type="date" class="form-control" id="Texto57" formControlName="Texto57">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-8 mb-3">
                  <label for="Texto58" class="form-label">Teste treponêmico (após 18 meses)</label>
                  <select class="form-control" id="Texto58" formControlName="Texto58"  >
                      <option value="1">1 - Reagente</option>
                      <option value="2">2 - Não reagente</option>
                      <option value="3">3 - Não realizado</option>
                      <option value="4">4 - Não se aplica</option>
                      <option value="9">9 - Ignorado</option>
                  </select>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                  <label for="Texto59" class="form-label">Data do teste</label>
                  <input type="date" class="form-control" id="Texto59" formControlName="Texto59">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                  <label for="Texto60" class="form-label">Teste não treponêmico - Líquor</label>
                  <select class="form-control" id="Texto60" formControlName="Texto60"  >
                      <option value="1">1 - Reagente</option>
                      <option value="2">2 - Não reagente</option>
                      <option value="3">3 - Não realizado</option>
                      <option value="9">9 - Ignorado</option>
                  </select>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                  <label for="Texto61" class="form-label">Título</label>
                  <input type="text" class="form-control" id="Texto61" formControlName="Texto61">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                  <label for="Texto62" class="form-label">Data do teste</label>
                  <input type="date" class="form-control" id="Texto62" formControlName="Texto62">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                  <label for="Texto63" class="form-label">Titulação ascendente</label>
                  <select class="form-control" id="Texto63" formControlName="Texto63"  >
                      <option value="1">1 - Sim</option>
                      <option value="2">2 - Não</option>
                      <option value="3">3 - Não realizado</option>
                      <option value="9">9 - Ignorado</option>
                  </select>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                  <label for="Texto64" class="form-label">Evidência de Treponema pallidum</label>
                  <select class="form-control" id="Texto64" formControlName="Texto64"  >
                      <option value="1">1 - Sim</option>
                      <option value="2">2 - Não</option>
                      <option value="3">3 - Não realizado</option>
                      <option value="9">9 - Ignorado</option>
                  </select>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                  <label for="Texto65" class="form-label">Alteração Liquórica</label>
                  <select class="form-control" id="Texto65" formControlName="Texto65"  >
                      <option value="1">1 - Sim</option>
                      <option value="2">2 - Não</option>
                      <option value="3">3 - Não realizado</option>
                      <option value="9">9 - Ignorado</option>
                  </select>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                  <label for="Texto66" class="form-label">Diagnóstico Rad. da Criança: Alteração do Exame dos Ossos Longos</label>
                  <select class="form-control" id="Texto66" formControlName="Texto66"  >
                      <option value="1">1 - Sim</option>
                      <option value="2">2 - Não</option>
                      <option value="3">3 - Não realizado</option>
                      <option value="9">9 - Ignorado</option>
                  </select>
                </div>
              <div class="linha">Dados Clínicos da Criança</div>
                <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                  <label for="Texto67" class="form-label">Diagnóstico Clínico</label>
                  <select class="form-control" id="Texto67" formControlName="Texto67"  >
                      <option value="1">1 - Assintomático</option>
                      <option value="2">2 - Sintomático</option>
                      <option value="3">3 - Não se aplica</option>
                      <option value="9">9 - Ignorado</option>
                  </select>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                  <label for="Texto68" class="form-label">Icterícia</label>
                  <select class="form-control" id="Texto68" formControlName="Texto68"  >
                      <option value="1">1 - Sim</option>
                      <option value="2">2 - Não</option>
                      <option value="3">3 - Não se aplica</option>
                      <option value="9">9 - Ignorado</option>
                  </select>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                  <label for="Texto69" class="form-label">Rinite muco-sanguinolenta</label>
                  <select class="form-control" id="Texto69" formControlName="Texto69"  >
                      <option value="1">1 - Sim</option>
                      <option value="2">2 - Não</option>
                      <option value="3">3 - Não se aplica</option>
                      <option value="9">9 - Ignorado</option>
                  </select>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                  <label for="Texto70" class="form-label">Anemia</label>
                  <select class="form-control" id="Texto70" formControlName="Texto70"  >
                      <option value="1">1 - Sim</option>
                      <option value="2">2 - Não</option>
                      <option value="3">3 - Não se aplica</option>
                      <option value="9">9 - Ignorado</option>
                  </select>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                  <label for="Texto71" class="form-label">Esplenomegalia</label>
                  <select class="form-control" id="Texto71" formControlName="Texto71"  >
                      <option value="1">1 - Sim</option>
                      <option value="2">2 - Não</option>
                      <option value="3">3 - Não se aplica</option>
                      <option value="9">9 - Ignorado</option>
                  </select>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                  <label for="Texto72" class="form-label">Hepatomegalia</label>
                  <select class="form-control" id="Texto72" formControlName="Texto72"  >
                      <option value="1">1 - Sim</option>
                      <option value="2">2 - Não</option>
                      <option value="3">3 - Não se aplica</option>
                      <option value="9">9 - Ignorado</option>
                  </select>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                  <label for="Texto73" class="form-label">Osteocondrite</label>
                  <select class="form-control" id="Texto73" formControlName="Texto73"  >
                      <option value="1">1 - Sim</option>
                      <option value="2">2 - Não</option>
                      <option value="3">3 - Não se aplica</option>
                      <option value="9">9 - Ignorado</option>
                  </select>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                  <label for="Texto74" class="form-label">Lesões Cutâneas</label>
                  <select class="form-control" id="Texto74" formControlName="Texto74"  >
                      <option value="1">1 - Sim</option>
                      <option value="2">2 - Não</option>
                      <option value="3">3 - Não se aplica</option>
                      <option value="9">9 - Ignorado</option>
                  </select>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                  <label for="Texto75" class="form-label">Pseudoparalisia</label>
                  <select class="form-control" id="Texto75" formControlName="Texto75"  >
                      <option value="1">1 - Sim</option>
                      <option value="2">2 - Não</option>
                      <option value="3">3 - Não se aplica</option>
                      <option value="9">9 - Ignorado</option>
                  </select>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                  <label for="Texto76" class="form-label">Outro</label>
                  <select class="form-control" id="Texto76" formControlName="Texto76"  >
                      <option value="1">1 - Sim</option>
                      <option value="2">2 - Não</option>
                      <option value="3">3 - Não se aplica</option>
                      <option value="9">9 - Ignorado</option>
                  </select>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                  <label for="Texto77" class="form-label">Qual?</label>
                  <input type="text" class="form-control" id="Texto77" formControlName="Texto77">
                </div>
              <div class="linha">Tratamento</div>
                <div class="col-sm-12 col-md-6 col-lg-8 mb-3">
                  <label for="Texto78" class="form-label">Esquema de tratamento</label>
                  <select class="form-control" id="Texto78" formControlName="Texto78"  >
                      <option value="1">1 - Penicilina G cristalina 100.000 a 150.000 Ul/Kg/dia - 10 dias</option>
                      <option value="2">2 - Penicilina G procaína 50.000 Ul/Kg/dia - 10 dias</option>
                      <option value="3">3 - Penicilina G benzatina 50.000 Ul/Kg/dia</option>
                      <option value="4">4 - Outro esquema</option>
                      <option value="5">5 - Não realizado</option>
                      <option value="9">9 - Ignorado</option>
                  </select>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                  <label for="Texto79" class="form-label">Qual?</label>
                  <input type="text" class="form-control" id="Texto79" formControlName="Texto79">
                </div>
              <div class="linha">Evolução</div>
                <div class="col-sm-12 col-md-6 col-lg-8 mb-3">
                  <label for="Texto80" class="form-label">Evolução do Caso</label>
                  <select class="form-control" id="Texto80" formControlName="Texto80"  >
                      <option value="1">1 - Vivo</option>
                      <option value="2">2 - Óbito por sífilis congênita</option>
                      <option value="3">3 - Óbito por outras causas</option>
                      <option value="4">4 - Aborto</option>
                      <option value="5">5 - Natimorto</option>
                      <option value="9">9 - Ignorado</option>
                  </select>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                  <label for="Texto81" class="form-label">Qual?</label>
                  <input type="date" class="form-control" id="Texto81" formControlName="Texto81">
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 mb-3">
                  <label for="Texto82" class="form-label">Observações Adicionais:</label>
                  <textarea class="form-control" id="Texto82" formControlName="Texto82"></textarea>
                </div>
              </div>


          </div>
        </div>

        <!-- ... Seu código existente ... -->

        <!-- ... Seu código existente ... -->

          <div class="card mb-3">
            <div class="card-header">
              <h6>Investigador</h6>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                    <label for="Texto83" class="form-label">Município/Unidade de Saúde</label>
                    <input type="text" class="form-control" id="Texto83" formControlName="Texto83"  >
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                    <label for="Texto84" class="form-label">Código da Unid. de Saúde</label>
                    <input type="text" class="form-control" id="Texto84" formControlName="Texto84">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                    <label for="Texto85" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="Texto85" formControlName="Texto85"  >
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                    <label for="Texto86" class="form-label">Função</label>
                    <input type="text" class="form-control" id="Texto86" formControlName="Texto86"  >
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                    <label for="Texto87" class="form-label">Assinatura</label>
                    <input type="text" class="form-control" id="Texto87" formControlName="Texto87" >
                </div>
              </div>
            </div>
          </div>

        <button type="submit" class="btn btn-primary">Enviar</button>

      </div>

    </form>
  </div>
  </div>
