<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h4>Ficha de Investigação de Febre Amarela</h4>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="card-body">
        <div class="card mb-3">
          <div class="card-header">
            <h6>Dados Gerais</h6>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-3 mb-3">
                <label for="city" class="form-label">Tipo de Notificação</label>
                <input type="text" class="form-control" id="tiponotificacao" name="tiponotificacao" placeholder="Individual" value="Individual" disabled="true" >
              </div>

              <div class="col-3 mb-3">
                <label for="city" class="form-label">Agravo/doença</label>
                <input type="text" class="form-control" id="agravo" name="agravo" placeholder="FEBRE AMARELA" value="FEBRE AMARELA" disabled="true" >
              </div>

              <div class="col-3 mb-3">
                <label for="city" class="form-label">Código (CID10)</label>
                <input type="text" class="form-control" id="cid10" name="cid10" placeholder="A95.9" value="A95.9" disabled="true" >
              </div>

              <div class="col-3 mb-3">
                  <label for="notificationDate" class="form-label">Data da Notificação</label>
                  <input type="date" class="form-control" id="notificationDate" formControlName="Texto1"  >
              </div>
            </div>
            <div class="row">
              <div class="col-2 mb-3">
                  <label for="uf" class="form-label">UF</label>
                  <select class="form-control" id="uf" formControlName="Texto2" #ufSelect (change)="loadMunicipios(ufSelect.value)">
                    <option *ngFor="let estado of estados" [value]="estado">{{ estado }}</option>
                  </select>
              </div>

              <div class="col-6 mb-3">
                  <label for="city" class="form-label">Município de Notificação</label>
                  <!--SEMPRE LEMBRAR QUE A FUNÇÃO LOADIBGECODE TEM COMO ARGUMENTO O PROXIMO CAMPO QUE IRÁ CARREGAR O VALOR-->
                  <select class="form-control" id="city" formControlName="Texto3" #citySelect (change)="loadIbgeCode(citySelect.value, 'Texto4')">
                      <option *ngFor="let municipio of municipios" [value]="municipio">{{ municipio }}</option>
                  </select>
              </div>

              <div class="col-4 mb-3">
                  <label for="ibgeCode" class="form-label">Código IBGE</label>
                  <input type="text" class="form-control" id="ibgeCode" formControlName="Texto4" readonly>
              </div>
          </div>
          <div class="row">
            <div class="col-4 mb-3">
                <label for="healthUnit" class="form-label">Unidade de Saúde</label>
                <!--SEMPRE LEMBRAR QUE A FUNÇÃO LOADIBGECODE TEM COMO ARGUMENTO O PROXIMO CAMPO QUE IRÁ CARREGAR O VALOR-->
                <select formControlName="Texto5" class="form-control" id="healthUnit" (change)="updateCnesValue($event, 'Texto6')">
                  <option *ngFor="let estabelecimento of estabelecimentos" [value]="estabelecimento.nome_fantasia">
                      {{ estabelecimento.nome_fantasia }}
                  </option>
              </select>
            </div>

            <div class="col-4 mb-3">
                <label for="code" class="form-label">Código (CNES)</label>
                <input type="text" class="form-control" id="code" formControlName="Texto6" readonly>
            </div>

            <div class="col-4 mb-3">
                <label for="diagnosisDate" class="form-label">Data dos Primeiros Sintomas</label>
                <input type="date" class="form-control" id="diagnosisDate" formControlName="Texto7"  >
            </div>
          </div>
        </div>
      </div>

        <div class="card mb-3">
          <div class="card-header">
            <h6>Notificação Individual</h6>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-5 mb-3">
                  <label for="patientName" class="form-label">Nome do Paciente</label>
                  <input type="text" class="form-control" id="patientName" formControlName="Texto8"  >
              </div>

              <div class="col-3 mb-3">
                  <label for="birthDate" class="form-label">Data de nascimento</label>
                  <input type="date" class="form-control" id="birthDate" formControlName="Texto9"  >
              </div>

              <div class="col-2 mb-3">
                  <label for="age" class="form-label">Idade</label>
                  <input type="text" class="form-control" id="age" formControlName="Texto10"   mask="9{3}">
              </div>

              <div class="col-2 mb-3">
                  <label for="gender" class="form-label">Sexo</label>
                  <select class="form-control" id="gender" formControlName="Texto12"  >
                      <option selected value="M">Masculino</option>
                      <option selected value="F">Feminino</option>
                      <option selected value="I">Ignorado</option>
                  </select>
              </div>
            </div>

            <div class="row">
              <!-- Campo Gestante -->
              <div class="col-4 mb-3">
                  <label for="gestante" class="form-label">Gestante</label>
                  <select class="form-control" id="gestante" formControlName="Texto13"  >
                      <option value="1">1 - 1° trimestre</option>
                      <option value="2">2 - 2° trimestre</option>
                      <option value="3">3 - 3° trimestre</option>
                      <option value="4">4 - IG ignorada</option>
                      <option value="5">5 - Não</option>
                      <option value="6">6 - Não se aplica</option>
                      <option value="9">9 - Ignorado</option>
                  </select>
              </div>

              <!-- Campo Raça/cor -->
              <div class="col-4 mb-3">
                  <label for="racaCor" class="form-label">Raça/cor</label>
                  <select class="form-control" id="racaCor" formControlName="Texto14"  >
                      <option value="1">1 - Branca</option>
                      <option value="2">2 - Preta</option>
                      <option value="3">3 - Amarela</option>
                      <option value="4">4 - Parda</option>
                      <option value="5">5 - Indígena</option>
                      <option value="9">9 - Ignorado</option>
                  </select>
              </div>

              <!-- Campo Escolaridade -->
              <div class="col-4 mb-3">
                  <label for="escolaridade" class="form-label">Escolaridade</label>
                  <select class="form-control" id="escolaridade" formControlName="Texto15"  >
                      <option value="0">0 - Analfabeto</option>
                      <option value="1">1 - 1° a 4° série incompleta do EF</option>
                      <option value="2">2 - 4° série completa do EF</option>
                      <option value="3">3 - 5° à 8° série incompleta do EF</option>
                      <option value="4">4 - Ensino fundamental completo</option>
                      <option value="5">5 - Ensino médio incompleto</option>
                      <option value="6">6 - Ensino médio completo</option>
                      <option value="7">7 - Educação superior incompleta</option>
                      <option value="8">8 - Educação superior completa</option>
                      <option value="9">9 - Ignorado</option>
                      <option value="10">10 - Não se aplica</option>
                  </select>
              </div>

            </div>

            <div class="row">
              <!-- Campo Número do cartão SUS -->
              <div class="col-4 mb-3">
                <label for="cartaoSUS" class="form-label">Número do cartão SUS</label>
                <input type="text" class="form-control" id="cartaoSUS" formControlName="Texto16"  #cartaoSUSControl="" pattern="^\d{15}$">
              </div>
              <!-- Campo Nome da mãe -->
              <div class="col-8 mb-3">
                  <label for="nomeMae" class="form-label">Nome da mãe</label>
                  <input type="text" class="form-control" id="nomeMae" formControlName="Texto17"  >
              </div>
            </div>

          </div>
        </div>

        <!-- ... Seu código existente ... -->

        <div class="card mb-3">
          <div class="card-header">
              <h6>Dados de Residência</h6>
          </div>
          <div class="card-body">
              <div class="row">
                  <div class="col-2 mb-3">
                    <label for="cep" class="form-label">CEP</label>
                    <input type="text" class="form-control" id="cep" formControlName="Texto30" mask="00000-000" #cep (change)="onCepChange(cep.value)">
                    <div *ngIf="hasError" class="error-message">Ocorreu um erro ao buscar o CEP. Por favor, tente novamente.</div>
                  </div>

                  <div class="col-2 mb-3">
                      <label for="ufResidencia" class="form-label">UF</label>
                      <input type="text" class="form-control" id="ufResidencia" formControlName="Texto18"   maxlength="2">
                  </div>

                  <div class="col-4 mb-3">
                      <label for="cityResidencia" class="form-label">Município de Residência</label>
                      <input type="text" class="form-control" id="cityResidencia" formControlName="Texto19"  >
                  </div>

                  <div class="col-2 mb-3">
                      <label for="ibgeCodeResidencia" class="form-label">Código IBGE</label>
                      <input type="text" class="form-control" id="ibgeCodeResidencia" formControlName="Texto20"   mask="9{7}">
                  </div>
                  <div class="col-2 mb-3">
                      <label for="distrito" class="form-label">Distrito</label>
                      <input type="text" class="form-control" id="distrito" formControlName="Texto21" >
                  </div>
              </div>
              <div class="row">
                  <div class="col-4 mb-3">
                      <label for="bairro" class="form-label">Bairro</label>
                      <input type="text" class="form-control" id="bairro" formControlName="Texto22" >
                  </div>
                  <div class="col-4 mb-3">
                      <label for="logradouro" class="form-label">Logradouro</label>
                      <input type="text" class="form-control" id="logradouro" formControlName="Texto23" >
                  </div>
                  <div class="col-2 mb-3">
                      <label for="codigo" class="form-label">Código</label>
                      <input type="text" class="form-control" id="codigo" formControlName="Texto24" >
                  </div>
                  <div class="col-2 mb-3">
                      <label for="numero" class="form-label">Número</label>
                      <input type="text" class="form-control" id="numero" formControlName="Texto25" >
                  </div>
              </div>
              <div class="row">
                  <div class="col-4 mb-3">
                      <label for="complemento" class="form-label">Complemento</label>
                      <input type="text" class="form-control" id="complemento" formControlName="Texto26" >
                  </div>
                  <div class="col-2 mb-3">
                      <label for="geoCampo1" class="form-label">Geo Campo 1</label>
                      <input type="text" class="form-control" id="geoCampo1" formControlName="Texto27" >
                  </div>
                  <div class="col-2 mb-3">
                      <label for="geoCampo2" class="form-label">Geo Campo 2</label>
                      <input type="text" class="form-control" id="geoCampo2" formControlName="Texto28" >
                  </div>
                  <div class="col-4 mb-3">
                      <label for="pontoReferencia" class="form-label">Ponto de Referência</label>
                      <input type="text" class="form-control" id="pontoReferencia" formControlName="Texto29" >
                  </div>
              </div>
              <div class="row">

                  <div class="col-4 mb-3">
                      <label for="telefone" class="form-label">(DDD) Telefone</label>
                      <input type="text" class="form-control" id="telefone" formControlName="Texto31"   mask="(00)00000-0000">
                  </div>
                  <div class="col-4 mb-3">
                      <label for="zona" class="form-label">Zona</label>
                      <select class="form-control" id="zona" formControlName="Texto32"  >
                          <option value="1">1 - Urbana</option>
                          <option value="2">2 - Rural</option>
                          <option value="3">3 - Periurbana</option>
                          <option value="9">9 - Ignorado</option>
                      </select>
                  </div>
                  <div class="col-4 mb-3">
                      <label for="pais" class="form-label">País</label>
                      <input type="text" class="form-control" id="pais" formControlName="Texto33"  >
                  </div>
              </div>
          </div>
        </div>

        <!-- ... Seu código existente ... -->

        <!-- ... Seu código existente ... -->

        <div class="card mb-3">
          <div class="card-header">
              <h6>Dados Complementares do Caso</h6>
          </div>
          <div class="card-body">
              <div class="row">
                <div class="col-6 mb-3">
                  <label for="Texto34" class="form-label">Data da Investigação</label>
                  <input type="date" class="form-control" id="Texto34" formControlName="Texto34"  >
                </div>
                <div class="col-6 mb-3">
                  <label for="Texto35" class="form-label">Ocupação</label>
                  <input type="text" class="form-control" id="Texto35" formControlName="Texto35"  >
                </div>
              </div>
              <div class="linha">Antecedentes Epidemiológicos</div>
              <div class="row">
                <div class="col-4 mb-3">
                  <label for="Texto36" class="form-label">Ocorrência de Epizootias</label>
                  <select class="form-control" id="Texto36" formControlName="Texto36"  >
                      <option value="1">1 - Sim</option>
                      <option value="2">2 - Não</option>
                      <option value="9">9 - Ignorado</option>
                  </select>
                </div>
                <div class="col-4 mb-3">
                  <label for="Texto37" class="form-label">Isolamento de vírus em mosquitos</label>
                  <select class="form-control" id="Texto37" formControlName="Texto37"  >
                      <option value="1">1 - Sim</option>
                      <option value="2">2 - Não</option>
                      <option value="9">9 - Ignorado</option>
                  </select>
                </div>
                <div class="col-4 mb-3">
                  <label for="Texto38" class="form-label">Presença de mosquito Aedes aegypti</label>
                  <select class="form-control" id="Texto38" formControlName="Texto38"  >
                      <option value="1">1 - Sim</option>
                      <option value="2">2 - Não</option>
                      <option value="9">9 - Ignorado</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-4 mb-3">
                  <label for="Texto39" class="form-label">Vacinado Contra Febre Amarela</label>
                  <select class="form-control" id="Texto39" formControlName="Texto39"  >
                    <option value="1">1 - Sim</option>
                    <option value="2">2 - Não</option>
                    <option value="9">9 - Ignorado</option>
                  </select>
                </div>
                <div class="col-4 mb-3">
                  <label for="Texto40" class="form-label">Data (caso afirmativo)</label>
                  <input type="date" class="form-control" id="Texto40" formControlName="Texto40"  >
                </div>
                <div class="col-4 mb-3">
                  <label for="Texto41" class="form-label">UF</label>
                  <select class="form-control" id="Texto41" formControlName="Texto41" #Texto41 (change)="loadMunicipios(Texto41.value)">
                    <option *ngFor="let estado of estados" [value]="estado">{{ estado }}</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-4 mb-3">
                  <label for="Texto42" class="form-label">Município de Notificação</label>
                  <!--SEMPRE LEMBRAR QUE A FUNÇÃO LOADIBGECODE TEM COMO ARGUMENTO O PROXIMO CAMPO QUE IRÁ CARREGAR O VALOR-->
                  <select class="form-control" id="Texto42" formControlName="Texto42" #Texto42 (change)="loadIbgeCode(Texto42.value, 'Texto43')">
                      <option *ngFor="let municipio of municipios" [value]="municipio">{{ municipio }}</option>
                  </select>
                </div>

                <div class="col-2 mb-3">
                    <label for="Texto43" class="form-label">Código IBGE</label>
                    <input type="text" class="form-control" id="Texto43" formControlName="Texto43" readonly>
                </div>

                <div class="col-4 mb-3">
                    <label for="Texto44" class="form-label">Unidade de Saúde</label>
                    <!--SEMPRE LEMBRAR QUE A FUNÇÃO LOADIBGECODE TEM COMO ARGUMENTO O PROXIMO CAMPO QUE IRÁ CARREGAR O VALOR-->
                    <select formControlName="Texto44" class="form-control" id="Texto44" (change)="updateCnesValue($event, 'Texto45')">
                      <option *ngFor="let estabelecimento of estabelecimentos" [value]="estabelecimento.nome_fantasia">
                          {{ estabelecimento.nome_fantasia }}
                      </option>
                  </select>
                </div>

                <div class="col-2 mb-3">
                    <label for="Texto45" class="form-label">Código (CNES)</label>
                    <input type="text" class="form-control" id="Texto45" formControlName="Texto45" readonly>
                </div>
              </div>
              <div class="linha">Dados Clinicos</div>
              <div class="row">
                <div class="col-3 mb-3">
                  <label for="Texto46" class="form-label">Dor abdominal</label>
                  <select class="form-control" id="Texto46" formControlName="Texto46"  >
                    <option value="1">1 - Sim</option>
                    <option value="2">2 - Não</option>
                    <option value="9">9 - Ignorado</option>
                  </select>
                </div>
                <div class="col-3 mb-3">
                  <label for="Texto47" class="form-label">Sinal de Faget</label>
                  <select class="form-control" id="Texto47" formControlName="Texto47"  >
                    <option value="1">1 - Sim</option>
                    <option value="2">2 - Não</option>
                    <option value="9">9 - Ignorado</option>
                  </select>
                </div>
                <div class="col-3 mb-3">
                  <label for="Texto48" class="form-label">Sinais hemorrágicos</label>
                  <select class="form-control" id="Texto48" formControlName="Texto48"  >
                    <option value="1">1 - Sim</option>
                    <option value="2">2 - Não</option>
                    <option value="9">9 - Ignorado</option>
                  </select>
                </div>
                <div class="col-3 mb-3">
                  <label for="Texto49" class="form-label">Distúrbios de excreção renal</label>
                  <select class="form-control" id="Texto49" formControlName="Texto49"  >
                    <option value="1">1 - Sim</option>
                    <option value="2">2 - Não</option>
                    <option value="9">9 - Ignorado</option>
                  </select>
                </div>
              </div>
              <div class="linha">Atendimento</div>
              <div class="row">
                <div class="col-4 mb-3">
                  <label for="Texto50" class="form-label">Ocorreu Hospitalização?</label>
                  <select class="form-control" id="Texto50" formControlName="Texto50"  >
                    <option value="1">1 - Sim</option>
                    <option value="2">2 - Não</option>
                    <option value="9">9 - Ignorado</option>
                  </select>
                </div>
                <div class="col-4 mb-3">
                  <label for="Texto51" class="form-label">Data da Internação</label>
                  <input type="date" class="form-control" id="Texto51" formControlName="Texto51"  >
                </div>
                <div class="col-4 mb-3">
                  <label for="Texto52" class="form-label">UF</label>
                  <select class="form-control" id="Texto52" formControlName="Texto52" #Texto52 (change)="loadMunicipios(Texto52.value)">
                    <option *ngFor="let estado of estados" [value]="estado">{{ estado }}</option>
                  </select>
                </div>
              </div>
                <div class="row">
                  <div class="col-4 mb-3">
                    <label for="Texto53" class="form-label">Município de Notificação</label>
                    <!--SEMPRE LEMBRAR QUE A FUNÇÃO LOADIBGECODE TEM COMO ARGUMENTO O PROXIMO CAMPO QUE IRÁ CARREGAR O VALOR-->
                    <select class="form-control" id="Texto53" formControlName="Texto53" #Texto53 (change)="loadIbgeCode(Texto53.value, 'Texto54')">
                      <option *ngFor="let municipio of municipios" [value]="municipio">{{ municipio }}</option>
                    </select>
                  </div>
                  <div class="col-2 mb-3">
                    <label for="Texto54" class="form-label">Código IBGE</label>
                    <input type="text" class="form-control" id="Texto54" formControlName="Texto54" readonly>
                  </div>
                  <div class="col-4 mb-3">
                    <label for="Texto55" class="form-label">Unidade de Saúde</label>
                    <!--SEMPRE LEMBRAR QUE A FUNÇÃO LOADIBGECODE TEM COMO ARGUMENTO O PROXIMO CAMPO QUE IRÁ CARREGAR O VALOR-->
                    <select formControlName="Texto55" class="form-control" id="Texto55" (change)="updateCnesValue($event, 'Texto56')">
                      <option *ngFor="let estabelecimento of estabelecimentos" [value]="estabelecimento.nome_fantasia">
                        {{ estabelecimento.nome_fantasia }}
                      </option>
                    </select>
                  </div>
                  <div class="col-2 mb-3">
                    <label for="Texto56" class="form-label">Código (CNES)</label>
                    <input type="text" class="form-control" id="Texto56" formControlName="Texto56" readonly>
                  </div>
                </div>
                <div class="linha"> Dados laboratoriais</div>
                <div class="row">
                  <div class="col-3 mb-3">
                    <label for="Texto57" class="form-label">Bilirrubina Total (mg/dl)</label>
                    <input type="text" class="form-control" id="Texto57" formControlName="Texto57">
                  </div>
                  <div class="col-3 mb-3">
                    <label for="Texto59" class="form-label">AST (TGO)</label>
                    <input type="text" class="form-control" id="Texto59" formControlName="Texto59">
                  </div>
                  <div class="col-3 mb-3">
                    <label for="Texto58" class="form-label">Bilirrubina Direta (mg/dl)</label>
                    <input type="text" class="form-control" id="Texto58" formControlName="Texto58">
                  </div>
                  <div class="col-3 mb-3">
                    <label for="Texto60" class="form-label">ALT (TGP)</label>
                    <input type="text" class="form-control" id="Texto60" formControlName="Texto60">
                  </div>
                </div>
                <div class="row">
                  <div class="col-3 mb-3">
                    <label for="Texto61" class="form-label">(IgM) - 1ª Amostra</label>
                    <input type="date" class="form-control" id="Texto61" formControlName="Texto61">
                  </div>
                  <div class="col-3 mb-3">
                    <label for="Texto62" class="form-label">Resultado da 1ª amostra</label>
                    <select class="form-control" id="Texto62" formControlName="Texto62"  >
                      <option value="1">1 - Reagente</option>
                      <option value="2">2 - Não Reagente</option>
                      <option value="3">3 - Inconclusivo</option>
                      <option value="4">4 - Não Realizado</option>
                    </select>
                  </div>
                  <div class="col-3 mb-3">
                    <label for="Texto63" class="form-label">(IgM) - 2ª Amostra</label>
                    <input type="date" class="form-control" id="Texto63" formControlName="Texto63">
                  </div>
                  <div class="col-3 mb-3">
                    <label for="Texto64" class="form-label">Resultado da 2ª amostra</label>
                    <select class="form-control" id="Texto64" formControlName="Texto64"  >
                      <option value="1">1 - Reagente</option>
                      <option value="2">2 - Não Reagente</option>
                      <option value="3">3 - Inconclusivo</option>
                      <option value="4">4 - Não Realizado</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-4 mb-3">
                    <label for="Texto65" class="form-label">Isolamento Viral - Material Coletado</label>
                    <select class="form-control" id="Texto65" formControlName="Texto65"  >
                      <option value="1">1 - Sim</option>
                      <option value="2">2 - Não</option>
                      <option value="9">9 - Ignorado</option>
                    </select>
                  </div>
                  <div class="col-4 mb-3">
                    <label for="Texto66" class="form-label">Data da Coleta</label>
                    <input type="date" class="form-control" id="Texto66" formControlName="Texto66">
                  </div>
                  <div class="col-4 mb-3">
                    <label for="Texto67" class="form-label">Resultado do isolamento</label>
                    <select class="form-control" id="Texto67" formControlName="Texto67"  >
                      <option value="1">1 - Reagente</option>
                      <option value="2">2 - Não Reagente</option>
                      <option value="3">3 - Inconclusivo</option>
                      <option value="4">4 - Não realizado</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6 mb-3">
                    <label for="Texto68" class="form-label">Histopatologia - Resultado</label>
                    <select class="form-control" id="Texto68" formControlName="Texto68"  >
                      <option value="1">1 - Compatível</option>
                      <option value="2">2 - Negativo</option>
                      <option value="3">3 - Inconclusivo</option>
                      <option value="4">4 - Não realizado</option>
                    </select>
                  </div>
                  <div class="col-6 mb-3">
                    <label for="Texto69" class="form-label">Imunohistoquímica - Resultado</label>
                    <select class="form-control" id="Texto69" formControlName="Texto69"  >
                      <option value="1">1 - Positivo</option>
                      <option value="2">2 - Negativo</option>
                      <option value="3">3 - Inconclusivo</option>
                      <option value="4">4 - Não realizado</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6 mb-3">
                    <label for="Texto70" class="form-label">RT-PCR - Data da Coleta</label>
                    <input type="date" class="form-control" id="Texto70" formControlName="Texto70">
                  </div>
                  <div class="col-6 mb-3">
                    <label for="Texto71" class="form-label">RT-PCR - Resultado</label>
                    <select class="form-control" id="Texto71" formControlName="Texto71"  >
                      <option value="1">1 - Positivo</option>
                      <option value="2">2 - Negativo</option>
                      <option value="3">3 - Inconclusivo</option>
                      <option value="4">4 - Não realizado</option>
                    </select>
                  </div>
                </div>
                <div class="linha">Conclusão</div>
                <div class="row">
                  <div class="col-4 mb-3">
                    <label for="Texto72" class="form-label">Classificação Final</label>
                    <select class="form-control" id="Texto72" formControlName="Texto72"  >
                      <option value="1">1 - Febre Amarela Silvestre</option>
                      <option value="2">2 - Febre Amarela Urbana</option>
                      <option value="3">3 - Descartado</option>
                    </select>
                  </div>
                  <div class="col-4 mb-3">
                    <label for="Texto73" class="form-label">Especificar</label>
                    <input type="text" class="form-control" id="Texto73" formControlName="Texto73">
                  </div>
                  <div class="col-4 mb-3">
                    <label for="Texto74" class="form-label">Critério de Confirmação/Descarte</label>
                    <select class="form-control" id="Texto74" formControlName="Texto74"  >
                      <option value="1">1 - Laboratorial</option>
                      <option value="2">2 - Clínico-Epidemiológico</option>
                    </select>
                  </div>
                </div>
                <div class="linha mb-3">Local Provável de Infecção</div>
                <div class="row">
                  <div class="col-4 mb-3">
                    <label for="Texto75" class="form-label">É autóctone do município de residência?</label>
                    <select class="form-control" id="Texto75" formControlName="Texto75"  >
                      <option value="1">1 - Sim</option>
                      <option value="2">2 - Não</option>
                      <option value="3">3 - Indeterminado</option>
                    </select>
                  </div>
                  <div class="col-2 mb-3">
                    <label for="Texto76" class="form-label">UF</label>
                    <select class="form-control" id="Texto76" formControlName="Texto76" #Texto76 (change)="loadMunicipios(Texto76.value)">
                      <option *ngFor="let estado of estados" [value]="estado">{{ estado }}</option>
                    </select>
                  </div>
                  <div class="col-3 mb-3">
                    <label for="Texto77" class="form-label">País</label>
                    <input type="text" class="form-control" id="Texto77" formControlName="Texto77"  >
                  </div>
                  <div class="col-3 mb-3">
                    <label for="Texto78" class="form-label">Município de Residência</label>
                    <!--SEMPRE LEMBRAR QUE A FUNÇÃO LOADIBGECODE TEM COMO ARGUMENTO O PROXIMO CAMPO QUE IRÁ CARREGAR O VALOR-->
                    <select class="form-control" id="Texto78" formControlName="Texto78" #Texto78 (change)="loadIbgeCode(Texto78.value, 'Texto79')">
                        <option *ngFor="let municipio of municipios" [value]="municipio">{{ municipio }}</option>
                    </select>
                  </div>
                </div>

                <div class="row">
                  <div class="col-3 mb-3">
                    <label for="Texto79" class="form-label">Código IBGE</label>
                    <input type="text" class="form-control" id="Texto79" formControlName="Texto79" readonly>
                  </div>
                  <div class="col-3 mb-3">
                      <label for="Texto80" class="form-label">Distrito</label>
                      <input type="text" class="form-control" id="Texto80" formControlName="Texto80" >
                  </div>
                  <div class="col-3 mb-3">
                      <label for="Texto81" class="form-label">Bairro</label>
                      <input type="text" class="form-control" id="Texto81" formControlName="Texto81" >
                  </div>
                  <div class="col-3 mb-3">
                      <label for="Texto82" class="form-label">Localidade</label>
                      <input type="text" class="form-control" id="Texto82" formControlName="Texto82" >
                  </div>
                </div>

                <div class="row">
                  <div class="col-6 mb-3">
                    <label for="Texto83" class="form-label">Doença Relacionada ao Trabalho</label>
                    <select class="form-control" id="Texto83" formControlName="Texto83"  >
                      <option value="1">1 - Sim</option>
                      <option value="2">2 - Não</option>
                      <option value="9">9 - Ignorado</option>
                    </select>
                  </div>
                  <div class="col-6 mb-3">
                    <label for="Texto84" class="form-label">Atividade desenvolvida no local provável de infecção</label>
                    <select class="form-control" id="Texto84" formControlName="Texto84"  >
                      <option value="1">1 - Trabalho</option>
                      <option value="2">2 - Turismo</option>
                      <option value="3">3 - Lazer</option>
                      <option value="9">9 - Ignorado</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-4 mb-3">
                    <label for="Texto85" class="form-label">Evolução do Caso</label>
                    <select class="form-control" id="Texto85" formControlName="Texto85"  >
                      <option value="1">1 - Cura</option>
                      <option value="2">2 - Óbito por febre amarela</option>
                      <option value="3">3 - Óbito por outras causas</option>
                      <option value="9">9 - Ignorado</option>
                    </select>
                  </div>

                  <div class="col-4 mb-3">
                    <label for="Texto86" class="form-label">Data do Óbito</label>
                    <input type="date" class="form-control" id="Texto86" formControlName="Texto86" >
                  </div>
                  <div class="col-4 mb-3">
                    <label for="Texto87" class="form-label">Data do Encerramento</label>
                    <input type="date" class="form-control" id="Texto87" formControlName="Texto87" >
                  </div>
                </div>

                <div class="linha">Descrever se houve deslocamento para área rural dentro do município de residência ou para outros municípios (no período de 15 dias
                  anteriores ao início de sinais e sintomas) </div>

                <div class="row">
                  <div class="col-2 mb-3">
                    <label for="Texto88" class="form-label">Data</label>
                    <input type="date" class="form-control" id="Texto88" formControlName="Texto88" >
                  </div>
                  <div class="col-2 mb-3">
                    <label for="Texto89" class="form-label">UF</label>
                    <select class="form-control" id="Texto89" formControlName="Texto89" #Texto89 (change)="loadMunicipios(Texto89.value)">
                      <option *ngFor="let estado of estados" [value]="estado">{{ estado }}</option>
                    </select>
                  </div>
                  <div class="col-3 mb-3">
                    <label for="Texto90" class="form-label">Município de Residência</label>
                    <select class="form-control" id="Texto90" formControlName="Texto90">
                        <option *ngFor="let municipio of municipios" [value]="municipio">{{ municipio }}</option>
                    </select>
                  </div>
                  <div class="col-2 mb-3">
                    <label for="Texto91" class="form-label">País</label>
                    <input type="text" class="form-control" id="Texto91" formControlName="Texto91"  >
                  </div>
                  <div class="col-3 mb-3">
                    <label for="Texto92" class="form-label">Meio de Transporte</label>
                    <input type="text" class="form-control" id="Texto92" formControlName="Texto92"  >
                  </div>
                </div>
                <div class="row">
                  <div class="col-2 mb-3">
                    <label for="Texto93" class="form-label">Data</label>
                    <input type="date" class="form-control" id="Texto93" formControlName="Texto93" >
                  </div>
                  <div class="col-2 mb-3">
                    <label for="Texto94" class="form-label">UF</label>
                    <select class="form-control" id="Texto94" formControlName="Texto94" #Texto94 (change)="loadMunicipios(Texto94.value)">
                      <option *ngFor="let estado of estados" [value]="estado">{{ estado }}</option>
                    </select>
                  </div>
                  <div class="col-3 mb-3">
                    <label for="Texto95" class="form-label">Município de Residência</label>
                    <select class="form-control" id="Texto95" formControlName="Texto95">
                        <option *ngFor="let municipio of municipios" [value]="municipio">{{ municipio }}</option>
                    </select>
                  </div>
                  <div class="col-2 mb-3">
                    <label for="Texto96" class="form-label">País</label>
                    <input type="text" class="form-control" id="Texto96" formControlName="Texto96"  >
                  </div>
                  <div class="col-3 mb-3">
                    <label for="Texto97" class="form-label">Meio de Transporte</label>
                    <input type="text" class="form-control" id="Texto97" formControlName="Texto97"  >
                  </div>
                </div>
                <div class="row">
                  <div class="col-2 mb-3">
                    <label for="Texto98" class="form-label">Data</label>
                    <input type="date" class="form-control" id="Texto98" formControlName="Texto98" >
                  </div>
                  <div class="col-2 mb-3">
                    <label for="Texto99" class="form-label">UF</label>
                    <select class="form-control" id="Texto99" formControlName="Texto99" #Texto99 (change)="loadMunicipios(Texto99.value)">
                      <option *ngFor="let estado of estados" [value]="estado">{{ estado }}</option>
                    </select>
                  </div>
                  <div class="col-3 mb-3">
                    <label for="Texto100" class="form-label">Município de Residência</label>
                    <!--SEMPRE LEMBRAR QUE A FUNÇÃO LOADIBGECODE TEM COMO ARGUMENTO O PROXIMO CAMPO QUE IRÁ CARREGAR O VALOR-->
                    <select class="form-control" id="Texto100" formControlName="Texto100">
                        <option *ngFor="let municipio of municipios" [value]="municipio">{{ municipio }}</option>
                    </select>
                  </div>
                  <div class="col-2 mb-3">
                    <label for="Texto101" class="form-label">País</label>
                    <input type="text" class="form-control" id="Texto101" formControlName="Texto101"  >
                  </div>
                  <div class="col-3 mb-3">
                    <label for="Texto102" class="form-label">Meio de Transporte</label>
                    <input type="text" class="form-control" id="Texto102" formControlName="Texto102"  >
                  </div>
                </div>
                <div class="linha">Anotar todas as informações consideradas importantes e que não estão na ficha (ex: outros dados clínicos, dados laboratoriais,
                  laudos de outros exames e necrópsia, etc.)</div>

                <div class="row">
                  <div class="col-12 mb-3">
                    <label for="Texto103" class="form-label">Observações</label>
                    <textarea class="form-control" id="Texto103" formControlName="Texto103"></textarea>
                  </div>
                </div>



          </div>
        </div>

        <!-- ... Seu código existente ... -->

        <!-- ... Seu código existente ... -->

          <div class="card mb-3">
            <div class="card-header">
              <h6>Investigador</h6>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-6 mb-3">
                    <label for="Texto104" class="form-label">Município/Unidade de Saúde</label>
                    <input type="text" class="form-control" id="Texto104" formControlName="Texto104"  >
                </div>
                <div class="col-6 mb-3">
                    <label for="Texto105" class="form-label">Código da Unid. de Saúde</label>
                    <input type="text" class="form-control" id="Texto105" formControlName="Texto105"   mask="00000000">
                </div>
              </div>
              <div class="row">
                <div class="col-4 mb-3">
                    <label for="Texto106" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="Texto106" formControlName="Texto106"  >
                </div>
                <div class="col-4 mb-3">
                    <label for="Texto107" class="form-label">Função</label>
                    <input type="text" class="form-control" id="Texto107" formControlName="Texto107"  >
                </div>
                <div class="col-4 mb-3">
                    <label for="Texto108" class="form-label">Assinatura</label>
                    <input type="text" class="form-control" id="Texto108" formControlName="Texto108" >
                </div>
              </div>
            </div>
          </div>

        <button type="submit" class="btn btn-primary">Enviar</button>

      </div>

    </form>
  </div>
  </div>
