<div class="container mt-5">
  <div class="header-image">
    <img src="../../assets/logo.png" alt="Título" class="img-fluid">
  </div>
  <div class="list-group">
    <a
      href="#"
      class="list-group-item list-group-item-action"
      [ngClass]="{ 'active': agravoSelecionado === agravo.id }"
      *ngFor="let agravo of agravos"
      (click)="selecionaAgravo(agravo.id); $event.preventDefault()">
      {{ agravo.nome }}
    </a>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="agravoModal" tabindex="-1" aria-labelledby="agravoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ng-container [ngSwitch]="agravoSelecionado">
            <app-dengue2 *ngSwitchCase="1"></app-dengue2>
            <app-febre-amarela *ngSwitchCase="2"></app-febre-amarela>
            <app-hanseniase *ngSwitchCase="3"></app-hanseniase>
            <app-hiv-gestante *ngSwitchCase="4"></app-hiv-gestante>
            <app-notificacao *ngSwitchCase="5"></app-notificacao>
            <app-sifilis-congenita *ngSwitchCase="6"></app-sifilis-congenita>
            <app-sifilis-gestante *ngSwitchCase="7"></app-sifilis-gestante>
            <app-tuberculose *ngSwitchCase="8"></app-tuberculose>
            <app-aids-crianca *ngSwitchCase="9"></app-aids-crianca>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
