#agravoModal .modal-dialog {
  align-items: flex-start;
}
#agravoModal .modal-content {
transform: scale(0.95);
}
.modal-xl {
  max-width: 70%;
}

.header-image {
margin-bottom: 20px; /* Adicione espaço abaixo da imagem, se necessário */
text-align: center; /* Se você quiser centralizar a imagem */
}

.header-image img {
max-height: 150px; /* Ajuste para o tamanho desejado */
}
