.ng-invalid.ng-touched {
  border-color: #dc3545;  /* Vermelho */
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.linha {
display: flex;
align-items: center;
text-align: center;
overflow: hidden;
}

.linha:before,
.linha:after {
content: "";
flex: 1;
border-bottom: 1px solid black;
margin: 0 20px 0 0; /* Espaço à direita da linha */
}

.linha:after {
margin: 0 0 0 20px; /* Espaço à esquerda da linha */
}

.error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  border: 1px solid #ccc;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
