.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa; // Cor de fundo acinzentada
  color: black; // Cor do texto
  text-align: center;
  @media (max-width: 768px) { // 768px é um breakpoint comum para tablets e dispositivos móveis
    position: static; // Faz o rodapé se comportar como um elemento normal do fluxo do documento
  }
}
